.opt-in {
	overflow: auto;
}

.opt-in form {
	margin-top: 40px;
}

.opt-in input {
	margin: 5px;
	width: 80px;
}

.opt-in input[type="email"],
.opt-in input[type="submit"]  {
	width: 180px;
}

.opt-in input[type="submit"] {
	text-align: center;
}

.brand-logo {
	background: dodgerblue;
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	text-align: center;
}

.brand-logo p {
	margin-top: 80px;
}